<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">

	<title>Portfolio | Donald Lundgren</title>

	<!--[if !IE]><!-->
		<link rel="stylesheet" href="/css/main.css" />
	<!--<![endif]-->

	<!--[if gte IE 7]>
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen, projection" />
	<![endif]-->

	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css" media="screen, projection" />
	<![endif]-->
</head>

<body id="home">

	<header>
			<div id="slogan">About Page</div>

		<nav>
			<?php include("inc/main-menu.php"); ?>
		</nav>
	</header>

	<section class="container">

		<article>
			<h1>This is Just a basic About Page</h1>

			
			<p>I will get to adding more content and styling this page at a later date.</p>

			</article>

		<article>
			<!-- Additional Article -->
		</article>

	</section>

	<aside>
		
	</aside>

	
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>
	<script src='/js/main.js'></script>

	<!-- Google Analytics Code -->
	<?php include_once("inc/analytics.php"); ?>

</body>

</html>