<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-5">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy <a href="#">The Completed Alpha Blog</a>
            by Donald Lundgren
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>      
        </nav>
    </footer>
</div>